<a href="https://colab.research.google.com/github/lidapmariyam/ICT/blob/main/PYTHON_BASIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program which accepts the radius of a circle from the user
and compute the area

In [ ]:
import math
def calculate_area_of_circle(radius):
    return math.pi * radius ** 2
radius = float(input("Enter the radius: "))
area = calculate_area_of_circle(radius)
print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius: 5
The area of the circle with radius 5.0 is: 78.54

2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [ ]:
def display_student_details(name, roll_number, mark):
    print(f"Name: {name}")
    print(f"Roll No: {roll_number}")
    print(f"Mark: {mark}")
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")
display_student_details(name, roll_number, mark)

Enter the name: lida
Enter the roll number: 37
Enter the mark: 81
Name: lida
Roll No: 37
Mark: 81

3.Write a Python program to get the largest number from a list.

In [ ]:

def find_largest_number(numbers):
    return max(numbers)
numbers = [12, 23, 47, 10]
largest_number = find_largest_number(numbers)
print(f"{largest_number} is the largest number.")

47 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [ ]:
def print_sum_of_current_and_previous(start, end):
    previous_number = 0
    for current_number in range(start, end + 1):
        sum_of_numbers = current_number + previous_number
        print(f"Current Number {current_number} Previous Number {previous_number} Sum: {sum_of_numbers}")
        previous_number = current_number
start_number = 1
end_number = 10
print_sum_of_current_and_previous(start_number, end_number)

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5.Write a Python program to print only those numbers which are divisible
of 5.

In [ ]:
def print_divisible_by_5(numbers):
    divisible_by_5 = []
    for number in numbers:
        if number % 5 == 0:
            divisible_by_5.append(number)
    print("Numbers divisible by 5:", ", ".join(map(str, divisible_by_5)))
numbers = [10, 20, 33, 46, 55]
print_divisible_by_5(numbers)

Numbers divisible by 5: 10, 20, 55

6.Write a Python program to check whether a number is prime or not.

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True
number = int(input("Enter the number "))
if is_prime(number):
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

Enter the number 3
3 is a prime number

7.Write a Python program to reverse a list using for loop.

In [ ]:
def reverse_list(original_list):
    reversed_list = []
    for item in original_list:

        reversed_list.insert(0, item)
    return reversed_list
input_list = [60, 40, 38, 53]
output_list = reverse_list(input_list)
print(", ".join(map(str, output_list)))

53, 38, 40, 60

8.Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
def print_pattern():

    for i in range(1, 4):
        print('*' * i)
    for i in range(2, 0, -1):
        print('*' * i)
    print('*' * 4)
print_pattern()

*
**
***
**
*
****

9.Write a Python program to find the maximum of three numbers

In [ ]:
def find_max_of_three(num1, num2, num3):

    return max(num1, num2, num3)
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
max_number = find_max_of_three(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, and {num3} is: {max_number}")

Enter the first number: 36
Enter the second number: 14
Enter the third number: 50
The maximum of 36, 14, and 50 is: 50


10.Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
def print_pattern():
    for i in range(1, 6):
        print('*' * i)
    for i in range(4, 0, -1):
        print('*' * i)
print_pattern()

*
**
***
****
*****
****
***
**
*